article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link-container{
    height: 200px;
    width: 300px;

    box-sizing: border-box;
    padding: 0 20px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    text-decoration: none;

    background: linear-gradient(135deg, var(--primary-color) 50%, var(--secondary-color) 50%);
    background-size: 200% 200%;
}

@keyframes link-container-hover {
    0%{background-position:0% 0%}
    100%{background-position:50% 50%}
}

.link-container:hover{
    animation: link-container-hover 200ms ease-in-out;
    background-position: 50% 50%;
}

.link-title{
    margin: 0 0 30px 0;
    text-align: center;
}

.link-description{
    margin: 0;
    text-align: start;
    font-size: 18px;
}
