article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link-container{
    height: 200px;
    width: 300px;

    box-sizing: border-box;
    padding: 0 20px;
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--secondary-color);
    text-decoration: none;

    background-color: var(--primary-color);

    transition: box-shadow 200ms;
}

.link-container:hover{
    box-shadow: 1px 2px 5px var(--primary-color);
}

.link-title{
    margin: 0 0 30px 0;
    text-align: center;
}

.link-description{
    margin: 0;
    text-align: start;
    font-size: 18px;
}
