@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* GLOBAL STYLE SHEET */


body{
    --primary-color:#24252A;
    --secondary-color: #e42821;
    --primary-font: 'Roboto';

    font-family: var(--primary-font), sans-serif;
    margin: 0;
    
    min-height: 100vh;
}

article{   
    margin: 0 auto;
    width: fit-content;
    min-height: 80vh;

    display: flex;
}

/* A set of styles for a universal link tree */

/* <LINK-TREE> */
.link-tree-container{
    align-self: flex-start;
}

.link-tree-container a{
    text-decoration: none;
    font-size: 14px;
    color: var(--primary-color);
}

.link-tree-container a:hover{
    text-decoration: underline;
    color: var(--secondary-color);
}

/* </LINK-TREE> */

/* Globally disables spin buttons in input boxes */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
}

/* <RELATED-CONTENT> */



/* </RELATED-CONTENT> */
