@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
}

article{
    --primary-color:#24252A;
    --secondary-color: #e42821;
    --primary-font: 'Roboto';

    min-height: 80vh;
    font-family: var(--primary-font), sans-serif;
}