@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0;
}

article{
    min-height: 80vh;

    font-family: 'Inter', sans-serif;
    font-size: 24px;

    --primary-color:#24252A;
    --secondary-color: white;
}

