article{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    article{
        justify-content: flex-start;
        margin-top: 30px;
    }
}

.gcd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-box{
    font-family: inherit;
    font-size: 24px;

    width: 300px;
    height: 150px;

    border: none;
    outline: 1px solid var(--primary-color);

    resize: none;
}

.calculate-button{
    font-family: inherit;
    font-size: 24px;

    background-color: var(--primary-color);
    color: white;

    padding: 0 10px;
    margin: 10px 0;

    border: none;

    height: 50px;
}

button:hover{
    opacity: 0.95;
}

button:active{
    opacity: 0.9;
}

.output-label{
    font-size: 24px;

    color: var(--primary-color);
}